* {
  margin: 0;
  outline: none;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* game grid */
.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}


